.AppDownload {
    width: 100%;
    margin: auto auto;
    margin-top: 100px;
    font-size: max(20px,3vw);
    font-weight: 500;
    text-align: center;
}
.AppDownloadPlatforms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: max(20px,2vw);
    margin-top: 40px;
}
.AppDownloadPlatforms img{
    width: max(120px,30vw);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;

}
.AppDownloadPlatforms img:hover{
    transform: scale(1.05);
}