.Header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 20px;

}

.Header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.Header-contents h2 {
    font-size: max(4.5vw, 22px);
    font-weight: 500;
    color: white;
}

.Header-contents p {
    font-size: 1vw;
    color: white;
}

.Header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    cursor: pointer;
    border-radius: 50px;

}

@media (max-width: 1050px) {
    .Header-contents{
        max-width: 45%;
    }
}

@media (max-width: 770px) {
    .Header-contents{
        max-width: 65%;
    }
    .Header-contents p{
        display: none;
    }
    .Header-contents button {
        padding: 2vw 4vw;
    }
}
